mixin panel(id, coverImage, title, tags)
    .col
        .ucard(onclick="window.location='/comic?id="+id+"'" style="--image: url("+coverImage+");")
            .content
                h2.title #{title}
                p.copy #{tags.join(", ")}

doctype html
head
  title MP - List
  link(href='https://fonts.googleapis.com/css2?family=Galada&display=swap' rel='stylesheet')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU' crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ' crossorigin='anonymous')
  style.
    body {
        font-family: 'Galada', cursive;
        text-align: center;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    * {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    header {
        width: 100%;
    }
    header > div {
        text-align: center;
        padding-top: 3%;
        padding-bottom: 2%;
        width: 80%;
        margin: auto;
    }
    h1 {
        font-size: 600%;
    }
    h2 {
        font-size: 300%;
        margin-bottom: 0px;
    }
    img {
        width: 100%;
    }
    .badge {
        font-weight: 200;
        padding-top: 0.4em;
    }
    .col {
        padding-bottom: 3.5rem;
    }
    @import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');
    :root {
        --d: 700ms;
        --e: cubic-bezier(0.19, 1, 0.22, 1);
        --font-sans: 'Rubik', sans-serif;
        --font-serif: 'Cardo', serif;
    }
    * {
        box-sizing: border-box;
    }
    body {
        display: grid;
        place-items: center;
    }
    .ucard {
        cursor: pointer;
        margin: auto;
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: end;
        align-items: flex-end;
        overflow: hidden;
        padding: 1rem;
        width: 80%;
        text-align: center;
        color: whitesmoke;
        background-color: whitesmoke;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
        0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1),
        0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    }
    @media (min-width: 600px) {
        .ucard {
            height: 23rem;
            width: 18rem;
        }
    }
    .ucard:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        background-image: var(--image);
        background-size: cover;
        background-position: 0 0;
        -webkit-transition: -webkit-transform calc(var(--d) * 1.5)
        var(--e);
        transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
        transition: transform calc(var(--d) * 1.5) var(--e);
        transition: transform calc(var(--d) * 1.5) var(--e),
        -webkit-transform calc(var(--d) * 1.5) var(--e);
        pointer-events: none;
    }
    .ucard:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        pointer-events: none;
        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 0)),
            color-stop(11.7%, rgba(0, 0, 0, 0.009)),
            color-stop(22.1%, rgba(0, 0, 0, 0.034)),
            color-stop(31.2%, rgba(0, 0, 0, 0.072)),
            color-stop(39.4%, rgba(0, 0, 0, 0.123)),
            color-stop(46.6%, rgba(0, 0, 0, 0.182)),
            color-stop(53.1%, rgba(0, 0, 0, 0.249)),
            color-stop(58.9%, rgba(0, 0, 0, 0.32)),
            color-stop(64.3%, rgba(0, 0, 0, 0.394)),
            color-stop(69.3%, rgba(0, 0, 0, 0.468)),
            color-stop(74.1%, rgba(0, 0, 0, 0.54)),
            color-stop(78.8%, rgba(0, 0, 0, 0.607)),
            color-stop(83.6%, rgba(0, 0, 0, 0.668)),
            color-stop(88.7%, rgba(0, 0, 0, 0.721)),
            color-stop(94.1%, rgba(0, 0, 0, 0.762)),
            to(rgba(0, 0, 0, 0.79)
        )
    );
    background-image: 
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.009) 11.7%,
            rgba(0, 0, 0, 0.034) 22.1%,
            rgba(0, 0, 0, 0.072) 31.2%,
            rgba(0, 0, 0, 0.123) 39.4%,
            rgba(0, 0, 0, 0.182) 46.6%,
            rgba(0, 0, 0, 0.249) 53.1%,
            rgba(0, 0, 0, 0.32) 58.9%,
            rgba(0, 0, 0, 0.394) 64.3%,
            rgba(0, 0, 0, 0.468) 69.3%,
            rgba(0, 0, 0, 0.54) 74.1%,
            rgba(0, 0, 0, 0.607) 78.8%,
            rgba(0, 0, 0, 0.668) 83.6%,
            rgba(0, 0, 0, 0.721) 88.7%,
            rgba(0, 0, 0, 0.762) 94.1%,
            rgba(0, 0, 0, 0.79) 100%
        );
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: -webkit-transform calc(var(--d) * 2)
        var(--e);
        transition: -webkit-transform calc(var(--d) * 2) var(--e);
        transition: transform calc(var(--d) * 2) var(--e);
        transition: transform calc(var(--d) * 2) var(--e),
        -webkit-transform calc(var(--d) * 2) var(--e);
    }
    .content {
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        padding: 1rem;
        -webkit-transition: -webkit-transform var(--d) var(--e);
        transition: -webkit-transform var(--d) var(--e);
        transition: transform var(--d) var(--e);
        transition: transform var(--d) var(--e),
        -webkit-transform var(--d) var(--e);
        z-index: 1;
    }
    .content > * + * {
        margin-top: 1rem;
    }
    .title {
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 1.2;
    }
    .copy {
        font-family: var(--font-serif);
        font-size: 1.125rem;
        font-style: italic;
        line-height: 1.35;
    }
    @media (hover: hover) and (min-width: 600px) {
        .ucard:after {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        .content {
            -webkit-transform: translateY(calc(100% - 4.5rem));
            transform: translateY(calc(100% - 4.5rem));
        }
        .content > *:not(.title) {
            opacity: 0;
            -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
            -webkit-transition: opacity var(--d) var(--e),
            -webkit-transform var(--d) var(--e);
            transition: opacity var(--d) var(--e),
            -webkit-transform var(--d) var(--e);
            transition: transform var(--d) var(--e),
            opacity var(--d) var(--e);
            transition: transform var(--d) var(--e),
            opacity var(--d) var(--e),
            -webkit-transform var(--d) var(--e);
        }
        .ucard:hover,
        .ucard:focus-within {
            -webkit-box-align: center;
            align-items: center;
        }
        .ucard:hover:before,
        .ucard:focus-within:before {
            -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
        }
        .ucard:hover:after,
        .ucard:focus-within:after {
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .ucard:hover .content,
        .ucard:focus-within .content {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        .ucard:hover .content > *:not(.title),
        .ucard:focus-within .content > *:not(.title) {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
            -webkit-transition-delay: calc(var(--d) / 8);
            transition-delay: calc(var(--d) / 8);
        }
        .ucard:focus-within:before,
        .ucard:focus-within:after,
        .ucard:focus-within .content,
        .ucard:focus-within .content > *:not(.title) {
            -webkit-transition-duration: 0s;
            transition-duration: 0s;
        }
    }
body
    header
        div
            h1
                a(href="/" style="text-decoration: none; color: black;") My-Porn.net
            h2 Comic List
            button#filtersToggle.btn.btn-outline-secondary.btn-sm(type='button') Open Filters
            #filters
                .row
                    p(style="margin: 10px auto 0 auto")
                        | Search: (
                        a(href='/help#search') ?
                        | )
                form
                    .row.gy-2.gx-3.align-items-center(style='margin-top:1px')
                        .col-sm-7
                            .input-group
                                span.input-group-text tags
                                input.form-control#autoSizingInput(type='text', placeholder='gay double_penetration ...')
                        .col-sm-5
                            .input-group
                                span.input-group-text @
                                input#author.form-control(list='authorOptions' placeholder='Type to search author...')
                                datalist#authorOptions
                                    each author in possibleAuthors
                                        option(value=author)
                    .row(style='margin-top:1%')
                        .col-sm-4
                            .input-group
                                span.input-group-text @
                                select#count.form-select.form-control
                                    option(value='tasc' selected) Title Ascending
                                    option(value='tdesc') Title Descending
                        .col-sm-3
                            select#count.form-select.form-control
                                option() Comics per Page
                                option(value='12') 12
                                option(value='24') 24
                                option(value='48') 48
                        .col-sm-auto
                            .form-check(style='margin-top: 5%;')
                                input.form-check-input#autoSizingCheck(type='checkbox' checked)
                                label.form-check-label(for='autoSizingCheck') Allow Ongoing
                    .row
                        button#searchButton.btn.btn-light(style='width: 100%; height:5%; margin-top:1%;' type='button') Search
            script.
                $(document).ready(() => {
                    $('#filters').hide()
                    $('#filtersToggle').click(() => {
                        if($('#filters').is(":visible"))
                            $('#filters').hide()
                        else
                            $('#filters').show()
                    })
                    $('#search').val('#{search}')
                    $('#searchButton').click(() => {
                        const searchText = $('#search').val()
                        window.location = '/list?search='+searchText
                    })
                })
    div
        .container
            .row
                each comic in comics
                    +panel(comic.id, comic.cover, comic.title, comic.tags)
